<head>
  <title><% content_for(:title, "#{@user.name}") %></title>
</head>
<div class="flex justify-center my-8">
  <div class="rounded-lg border-solid border-white border-4 bg-gray-950  w-full sm:w-3/5 lg:w-2/5">
    <div class="items-center text-center">
      <h1 class="text-white text-6xl my-6"><%= @user.name %></h1>
      <div class="grid grid-cols-2 gap-4">
        <p class="text-white text-2xl mb-4">年齢： <%= @user.age %>歳</p>
        <p class="text-white text-2xl mb-4">性別： <%= @user.gender_i18n %></p>
        <p class="col-span-2 text-white text-2xl mb-4"><%= @user.profile %></p>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <%= link_to edit_user_registration_path do %>
    <button class="bg-lime-950 text-2xl text-lime-400 border border-lime-400 border-b-4 font-medium relative h-16 px-4 py-2 rounded-md hover:brightness-150">
      編集</button>
  <% end %>
</div>