<head>
  <title><% content_for(:title, "#{@user.name}") %></title>
</head>
<div class="flex justify-center my-8">
  <div class="rounded-lg border-solid border-white border-4 bg-gray-950 w-full md:w-4/5 lg:w-2/5">
    <div class="items-center text-center">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 place-items-center m-8">

        <div class="col-span-1 md:col-span-2">
          <%= user_icon_display(@user, "border-solid border-white border-4 size-64 rounded") %>
        </div>

        <div class="col-span-1 md:col-span-2">
          <h1 class=" text-lime-400 text-4xl">
            <%= @user.name %>
            <span class="text-white text-2xl ml-4">Lv.<%= @user.level %></span>
          </h1>
          <p class="text-gray-400 text-2xl my-4">ユーザーID: <%= @user.user_code %></p>
          <p class="text-white text-2xl mb-2">年齢： <%= @user.age %>歳</p>
          <p class="text-white text-2xl">性別： <%= @user.gender_i18n %></p>
        </div>

        <div class="col-span-1 md:col-span-2">
          <% if @user.twitter.present? %>
            <%= link_to "#{@user.twitter}", target: "_blank" do %>
              <i class="fa-brands fa-square-x-twitter fa-2xl" style="color: #ffffff;"></i>
            <% end %>
          <% end %>
          <% if @user.twitch.present? %>
            <%= link_to "#{@user.twitch}", target: "_blank" do %>
              <i class="fa-brands fa-twitch fa-2xl" style="color: #ffffff;"></i>
            <% end %>
          <% end %>
          <% if @user.discord.present? %>
          <i class="fa-brands fa-discord fa-2xl" style="color: #ffffff;"></i><%= @user.discord %>
          <% end %>
        </div>

        <div class="col-span-1 md:col-span-4 mt-6 mb-2">
          <p class="text-white text-2xl"><%= @user.profile %></p>
        </div>

        <% if current_user.present? %>
          <% if @user == current_user %>
            <div class="col-span-1 md:col-span-4 justify-self-end">
              <%= link_to "編集", edit_user_registration_path,class: "btn btn-outline btn-accent" %>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="flex justify-center space-x-8">

  <%= link_to user_games_path(id: @user.id),
    class: "bg-yellow-950 text-2xl text-yellow-400 border border-yellow-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150" do %>
      <i class="fa-solid fa-gamepad"></i><span class="ml-2">ゲームライブラリ</span>
  <% end %>
  
  <% if current_user.present? %>
    <% if @user == current_user %>
      <%= link_to new_game_log_path,
        class: "hidden md:inline bg-lime-950 text-2xl text-lime-400 border border-lime-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150" do %>
          <i class="fa-solid fa-pen"></i><span class="ml-2">ゲームログ作成</span>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "https://twitter.com/intent/tweet?url=#{request.url}&text=#{@user.name}のゲームフォリオがあらわれた！見に行く？%0a%3eはい%0a%20いいえ%0a%23Gamefolio_m%0a",
    target: '_blank',
    class: "bg-gray-950 text-2xl text-gray-400 border border-gray-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150 inline-flex items-center space-x-2" do %>
      <i class="fa-brands fa-x-twitter inline-block hover:text-white"></i><span class="hidden md:inline">シェア</span>
  <% end %>

</div>

<% if @user.user_games.present? %>
  <div class="flex justify-center my-8">
    <div class="rounded-lg border-solid border-white border-4 bg-gray-950 p-4 w-full md:w-3/5 lg:w-2/5">
      <h1 class="text-lime-400 md:text-2xl lg:text-3xl text-center">もっとも遊んでいるジャンルTOP5</h1>
        <%= render "users/chart", top_5_genres: @top_5_genres %>
    </div>
  </div>
<% end %>

<% if @user_game_logs.present? %>
  <h2 class="text-yellow-400 text-2xl text-center mt-16">【ゲームログ一覧】</h2>
  <% @user_game_logs.each do |user_game_log| %>
    <%= render "game_logs/game_log", game_log: user_game_log %>
  <% end %>
  <div class="flex justify-center my-8">
    <div class="join">
      <%= paginate @user_game_logs %>
    </div>
  </div>
<% else %>
  <p class="text-white text-center text-2xl my-10">ゲームログの投稿はありません</p>
<% end %>
