<head>
  <title><% content_for(:title, "#{@user.name}") %></title>
</head>
<div class="flex justify-center my-8">
  <div class="rounded-lg border-solid border-white border-4 bg-gray-950 w-full sm:w-3/5 lg:w-2/5">
    <div class="items-center text-center">
      <div class="grid grid-cols-4 gap-4 place-items-center m-8">
        <%= image_tag "avater.png", class: "col-span-2 border-solid border-white border-4 w-64 rounded" %>
        <div class="col-span-2">
          <h1 class=" text-lime-400 text-6xl"><%= @user.name %></h1><br>
          <p class="text-gray-400 text-2xl mb-2">ユーザーID: <%= @user.user_code %></p>
          <p class="text-white text-2xl mb-2">年齢： <%= @user.age %>歳</p>
          <p class="text-white text-2xl">性別： <%= @user.gender_i18n %></p>
        </div>
        <div class="col-span-2">
          <% if @user.twitter.present? %>
            <%= link_to "#{@user.twitter}", target: "_blank" do %>
              <i class="fa-brands fa-square-x-twitter fa-2xl" style="color: #ffffff;"></i>
            <% end %>
          <% end %>
          <% if @user.twitch.present? %>
            <%= link_to "#{@user.twitch}", target: "_blank" do %>
              <i class="fa-brands fa-twitch fa-2xl" style="color: #ffffff;"></i>
            <% end %>
          <% end %>
          <% if @user.discord.present? %>
          <i class="fa-brands fa-discord fa-2xl" style="color: #ffffff;"></i><%= @user.discord %>
          <% end %>
        </div>
        <p class="col-span-4 text-white text-2xl my-6"><%= @user.profile %></p>
      </div>
    </div>
  </div>
</div>
<% if current_user.present? %>
  <% if @user.id == current_user.id %>
    <div class="flex justify-evenly">
      <%= link_to "ゲームライブラリ", user_games_path(id: current_user.id),
        class: "bg-blue-950 text-2xl text-blue-400 border border-blue-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150" %>
      <%= link_to "編集", edit_user_registration_path,
        class: "bg-lime-950 text-2xl text-lime-400 border border-lime-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150" %>
    </div>
  <% end %>
<% end %>