<head>
  <title><% content_for(:title, "#{@user.name}") %></title>
</head>
<div class="flex justify-center my-8">
  <div class="rounded-lg border-solid border-white border-4 bg-gray-950 w-full lg:w-2/5">
    <div class="items-center text-center">
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 place-items-center m-8">

        <div class="col-span-1 lg:col-span-2">
          <%= user_icon_display(@user, "border-solid border-white border-4 size-64 rounded") %>
        </div>

        <div class="col-span-1 lg:col-span-2">
          <h1 class=" text-lime-400 text-6xl">
            <%= @user.name %>
            <span class="text-white text-4xl">Lv.<%= @user.level %></span>
          </h1>
          <p class="text-gray-400 text-2xl my-4">ユーザーID: <%= @user.user_code %></p>
          <p class="text-white text-2xl mb-2">年齢： <%= @user.age %>歳</p>
          <p class="text-white text-2xl">性別： <%= @user.gender_i18n %></p>
        </div>

        <div class="col-span-1 lg:col-span-2">
          <% if @user.twitter.present? %>
            <%= link_to "#{@user.twitter}", target: "_blank" do %>
              <i class="fa-brands fa-square-x-twitter fa-2xl" style="color: #ffffff;"></i>
            <% end %>
          <% end %>
          <% if @user.twitch.present? %>
            <%= link_to "#{@user.twitch}", target: "_blank" do %>
              <i class="fa-brands fa-twitch fa-2xl" style="color: #ffffff;"></i>
            <% end %>
          <% end %>
          <% if @user.discord.present? %>
          <i class="fa-brands fa-discord fa-2xl" style="color: #ffffff;"></i><%= @user.discord %>
          <% end %>
        </div>

        <div class="col-span-1 lg:col-span-4 mt-6 mb-2">
          <p class="text-white text-2xl"><%= @user.profile %></p>
        </div>

        <% if current_user.present? %>
          <% if @user.id == current_user.id %>
            <div class="col-span-1 lg:col-span-4 justify-self-end">
              <%= link_to "編集", edit_user_registration_path,class: "btn btn-outline btn-accent btn-sm" %>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="flex justify-evenly">
  <%= link_to "ゲームライブラリ", user_games_path(id: @user.id),
    class: "bg-yellow-950 text-2xl text-yellow-400 border border-yellow-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150" %>
</div>

<% if @user.user_games.present? %>
  <div class="flex justify-center my-8">
    <div class="rounded-lg border-solid border-white border-4 bg-gray-950 p-4 w-full sm:w-3/5 lg:w-2/5">
      <h1 class="text-lime-400 lg:text-3xl text-center">もっとも遊んでいるジャンルTOP5</h1>
        <%= render "users/chart", top_5_genres: @top_5_genres %>
    </div>
  </div>
<% end %>

<% if @user_game_logs.present? %>
  <h2 class="text-lime-400 text-3xl text-center mt-4">最新のゲームログ</h2>
  <% @user_game_logs.each do |user_game_log| %>
    <%= render "game_logs/game_log", game_log: user_game_log %>
  <% end %>
<% else %>
  <p class="text-white text-center text-2xl my-10">ゲームログの投稿はありません</p>
<% end %>
