<div class="flex items-center gap-8">
  <div>
    <%= image_tag 'gf_logo.png', class: "w-12" %>
  </div>
  <div>
    <p class="text-white">Gamefolio © 2024 Mana</p>
  </div>
  <div>
    <%= link_to "プライバシーポリシー", "#", class: "text-white hover:text-green-300 hover:no-underline" %>
    <%= link_to "問い合わせ", "#", class: "text-white hover:text-green-300 hover:no-underline mx-2" %>
  </div>
  <div>
    <%= link_to "https://github.com/Rintaro196/gamefolio", target: "_blank" do %>
      <i class="fa-brands fa-square-github fa-xl" style="color: #ffffff;"></i>
    <% end %>
    <%= link_to "#", target: "_blank" do %>
      <i class="fa-brands fa-square-x-twitter fa-xl" style="color: #ffffff;"></i>
    <% end %>
  </div>
</div>