<div class="my-4 ml-4 md:ml-24">
  <button id="toggle-sidebar" class="bg-lime-950 text-lime-400 border border-lime-400 border-b-4 font-medium relative h-16 px-4 py-2 rounded-md hover:brightness-150" type="button">
    <p class="text-2xl">メニュー</p>
  </button>
</div>
<% if user_signed_in? %>
  <div class="relative flex justify-end space-x-4 items-center mr-4 md:mr-40">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-neutral border-2 border-white rounded-lg h-auto p-0">
          <% if current_user.user_icon.attached? %>
            <%= image_tag current_user.user_icon, class: "w-16 h-16 rounded" %>
          <% else %>
            <%= image_tag "avater.png", class: "w-16 h-16 rounded" %>
          <% end %>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-indigo-900 rounded-box z-[1] w-52 p-2 shadow">
        <li><%= link_to "ゲームログ作成", new_game_log_path, class: "text-white" %></li>
        <li><%= link_to "プロフィール", user_path(id: current_user.id), class: "text-white" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white" %></li>
      </ul>
    </div>
    <div>
      <p class="text-white">Lv.<%= current_user.level %></p>
    </div>
    <div>
      <p class="text-white">ジェムの数：<%= current_user.gem %></p>
    </div>
  </div>
<% else %>
  <div class="mr-4 md:mr-40">
    <%= link_to "ログイン", new_user_session_path,
      class: "bg-lime-950 text-2xl text-lime-400 border border-lime-400 border-b-4 font-medium relative h-16 px-4 py-2 rounded-md hover:brightness-150" %>
  </div>
<% end %>