<div class="items-center ml-4 md:ml-24">
  <button id="toggle-sidebar" class="bg-lime-950 text-lime-400 border border-lime-400 border-b-4 font-medium relative h-16 px-4 rounded-md hover:brightness-150" type="button">
  <i class="fa-solid fa-bars fa-lg"></i><span class="text-2xl hidden md:inline ml-1">メニュー</span>
  </button>
</div>
<% if user_signed_in? %>
  <div class="relative flex justify-end space-x-4 md:space-x-9 items-center mr-4 md:mr-40">


    <div class="flex items-center space-x-4">
      
      <% if @unchecked_notifications.present? %>
        <%= link_to notifications_path do %>
          <button class="btn btn-circle btn-outline btn-warning">
            <div class="indicator">
              <i class="fa-regular fa-bell fa-lg"></i>
              <span class="badge badge-warning badge-sm indicator-item"><%= @notification_count %></span>
            </div>
          </button>
        <% end %>
      <% else %>
        <%= link_to notifications_path do %>
          <button class="btn btn-circle btn-outline btn-warning"><i class="fa-regular fa-bell fa-lg"></i></button>
        <% end %>
      <% end %>

      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-neutral border-2 border-white rounded-lg h-auto p-0">
          <%= user_icon_display(current_user, "size-16 rounded") %>
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-indigo-900 rounded-box z-[1] w-52 p-2 shadow">
          <li><%= link_to "ゲームログ作成", new_game_log_path, class: "text-white" %></li>
          <li><%= link_to "プロフィール", user_path(id: current_user.id), class: "text-white" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white" %></li>
        </ul>
      </div>
    </div>

    <div>
      <p class="text-white text-2xl font-medium">Lv.<%= current_user.level %></p>
    </div>

    <div class="flex flex-row space-x-2">
      <%= image_tag "gem.png", class: "size-10" %>
      <p class="text-white text-2xl font-medium p-1"><%= current_user.gem %></p>
    </div>
  </div>
<% else %>
  <div class="mr-4 md:mr-40">
    <%= link_to "ログイン", new_user_session_path,
      class: "bg-lime-950 text-2xl text-lime-400 border border-lime-400 border-b-4 font-medium relative h-16 px-4 py-2 rounded-md hover:brightness-150" %>
  </div>
<% end %>