<% user_games.each do |user_game| %>
  <div class="flex justify-center my-8">
    <div class="rounded-lg border-sloid border-white border-4 bg-gray-950 sm:w-3/5 lg:w-2/5">
      <div class="items-center text-center">
          <div class="flex justify-center">
            <div class="grid grid-cols-4 gap-4 place-items-center m-8">
              <% if user_game.cover_url.present? %>
                <%= image_tag "#{user_game.cover_url}", class: "col-span-2 border-solid border-white border-4 h-40 w-40 rounded" %>
              <% else %>
                <%= image_tag "avater.png", class: "col-span-2 border-solid border-white border-4 w-40 rounded" %>
              <% end %>
              <div class="col-span-2">
                <h1 class="text-lime-400 text-4xl"><%= user_game.game_title %></h1></br>
              </div>
              <% if user_game.genres.present? %>
                <div class="col-span-4 mt-4">
                  <p class="text-white text-lime-400">ジャンル</p>
                </div>
                <div class="col-span-4 my-2">
                  <% user_game.genres.each do |genru| %>
                    <div class="badge badge-accent badge-outline"><%= genru.name %></div>
                  <% end %>
                </div>
              <% end %>
              <% if user_game.platforms.present? %>
                <div class="col-span-4 mt-4">
                  <p class="text-white text-lime-400">プラットフォーム</p>
                </div>
                <div class="col-span-4 my-2">
                  <% user_game.platforms.each do |platform| %>
                    <div class="badge badge badge-primary badge-outline"><%= platform.name %></div>
                  <% end %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>