<head>
  <title><% content_for(:title, "ゲームライブラリ") %></title>
</head>

<div class="flex justify-center items-center space-4 my-6">
  <%= user_icon_display(@user, "border-solid border-white border-2 size-20 rounded") %>
  <h1 class="text-yellow-400 md:text-4xl">【<%= @user.name %>のゲームライブラリ】</h1>
</div>

<% if current_user.present? %>
  <% if @user.id == current_user.id %>
    <div class="flex justify-center space-x-4 my-4">
      <%= link_to search_games_path do %>
        <button class="bg-yellow-950 text-2xl text-yellow-400 border border-yellow-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150">
        <div class="space-x-2">
          <i class="fa-solid fa-plus"></i><i class="fa-solid fa-gamepad"></i><span>ゲーム追加</span>
        </div>
        </button>
      <% end %>
      <%= link_to new_game_log_path do %>
        <button class="bg-lime-950 text-2xl text-lime-400 border border-lime-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150">
        <i class="fa-solid fa-pen"></i><span class="ml-2">ゲームログ作成</span>
        </button>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @user_games.present? %>
  <div class="flex justify-center">
    <div class="rounded-lg border-sloid border-white border-4 bg-gray-950 w-full lg:w-11/12 my-4">
      <div role="tablist" class="tabs tabs-lifted 2xl:tabs-lg">
      
        <input type="radio" name="my_tabs_1" role="tab" class="tab text-lime-400" aria-label="すべて" checked="checked"/>
        <div role="tabpanel" class="tab-content">
          <%= render "user_games/user_game", user_games: @user_games %>
          <div class="flex justify-center my-8">
            <div class="join">
              <%= paginate @user_games %>
            </div>
          </div>
        </div>

        <input type="radio" name="my_tabs_1" role="tab" class="tab text-lime-400" aria-label="プレイ中"/>
        <div role="tabpanel" class="tab-content">
          <% if @playing_games.present? %>
            <%= render "user_games/user_game", user_games: @playing_games %>
            <div class="flex justify-center my-8">
              <div class="join">
                <%= paginate @playing_games %>
              </div>
            </div>
          <% else %>
            <p class="text-white md:text-2xl text-center my-10">該当するゲームがありません</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% else %>
  <p class="text-white text-2xl text-center my-16">登録ゲームがありません</p>
<% end %>
