<head>
  <title><% content_for(:title, "ゲームライブラリ:#{@user_game.game_title_method}") %></title>
</head>
<div class="flex justify-center my-8">
  <div class="rounded-lg border-sloid border-white border-4 bg-gray-950 sm:w-3/5 lg:w-2/5">
    <div class="items-center text-center">
      <div class="flex justify-center">
        <div class="grid grid-cols-4 gap-4 place-items-center m-8">
          <% if @user_game.game.cover_url.present? %>
            <%= image_tag "#{@user_game.game.cover_url}", class: "col-span-2 border-solid border-white border-4 h-40 w-40 rounded" %>
          <% else %>
            <%= image_tag "avater.png", class: "col-span-2 border-solid border-white border-4 w-40 rounded" %>
          <% end %>
          <div class="col-span-2">
            <h1 class="text-lime-400 text-4xl"><%= @user_game.game_title_method %></h1><br>
            <% if @total_play_time.present? %>
              <p class="text-white text-2xl mb-2">プレイ総時間:<%= @total_play_time %>分</p>
            <% end %>
            <% if @total_spnding_amount.present? %>
              <p class="text-white text-2xl mb-2">総課金額:<%= @total_spending_amount %>円</p>
            <% end %>
            <p class="text-white text-2xl mb-2">ステータス：<%= @user_game.status_i18n %></p>
          </div>
　　　　　<div class="col-span-4 mt-4>
            <div class="rounded-lg border-sloid border-white border-4 bg-gray-950">
              <p class="text-white"><%= @user_game.memo %></p>
            <//div>
          </div>
          <% if @user_game.game.genres.present? %>
            <div class="col-span-4 mt-4">
              <p class="text-white text-lime-400">ジャンル</p>
            </div>
            <div class="col-span-4 my-2">
              <% @user_game.game.genres.each do |genru| %>
                <div class="badge badge-accent badge-outline"><%= genru.name %></div>
              <% end %>
            </div>
          <% end %>
          <% if @user_game.game.platforms.present? %>
            <div class="col-span-4 mt-4">
              <p class="text-white text-lime-400">プラットフォーム</p>
            </div>
            <div class="col-span-4 my-2">
              <% @user_game.game.platforms.each do |platform| %>
                <div class="badge badge badge-primary badge-outline"><%= platform.name %></div>                  
              <% end %>
            </div>
          <% end %>
          <% if current_user && current_user.own?(@user_game) %>
            <div class="col-span-4 justify-self-end space-x-2 my-6">
              <%= link_to "編集", edit_user_game_path(@user_game),
                class: "btn btn-outline btn-accent btn-sm" %>
              <%= link_to "削除", user_game_path(@user_game),
                class: "btn btn-outline btn-error btn-sm",
                data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center my-6">
  <%= link_to "一覧に戻る", user_games_path(id: @user_game.user.id),
    class:"bg-blue-950 text-2xl text-blue-400 border border-blue-400 border-b-4 font-medium relative w-40 px-4 py-2 rounded-md hover:brightness-150" %>
</div>

<h2 class="text-lime-400 text-3xl text-center mt-4"><%= @user_game.game_title_method %>のゲームログ</h2>
<% if @game_logs.present? %>
  <% @game_logs.each do |game_log| %>
    <%= render "game_logs/game_log", game_log: game_log %>
  <% end %>
<% else %>
  <p class="text-white text-2xl text-center my-6">関連するゲームログがありません</P>
<% end %>
