<div class="flex justify-center my-8">
  <div class="rounded-lg border-sloid border-white border-4 bg-gray-950 w-full sm:w-3/5 lg:w-2/5">
    <div class="items-center text-center">
      
      <%= form_with(model: game_log) do |f| %>
        <%= render "shared/form_error_messages", object: game_log %>
        <div class="field mt-6">
          <div class="mb-4">
            <%= f.label :user_game_id, "ゲームを選択", class: "text-white text-2xl" %>
            <%= f.collection_select :user_game_id, @user_games, :id, :game_title_method, {}, prompt: "ゲームを選んでください", class: "select select-accent w-80" %>
          </div>
        </div>
  
        <div class="field mt-6">
          <div class="mb-4">
            <%= f.label :title, class: "text-white text-2xl" %>
          </div>
          <%= f.text_field :title, autofocus: true,
            class: "input input-bordered input-accent h-12 w-2/3 min-w-xs", placeholder: "140文字以内" %>
        </div>
  
        <div class="field mt-6">
          <div class="mb-4">
            <%= f.label :body, class: "text-white text-2xl" %></br>
          </div>
          <%= f.text_area :body, class: "textarea textarea-accent w-2/3 h-24 min-w-xs", placeholder: "1000文字以内" %>
        </div>
          
        <div class="field mt-6">
          <div class="mb-4">
            <%= f.label :play_time, class: "text-white text-2xl" %>(分)
          </div>
          <%= f.number_field :play_time, class: "input input-bordered input-accent h-12 w-80 min-w-xs" %>
        </div>
  
        <div class="field mt-6">
          <div class="mb-4">
            <%= f.label :spending_amount, class: "text-white text-2xl" %>(円)</br>
          </div>
          <%= f.number_field :spending_amount, class: "input input-bordered input-accent h-12 w-80 min-w-xs" %>
        </div>

        <div class="field mt-6">
          <p class="text-white text-2xl mb-4">画像ファイル（4枚まで）</p>
          <% if game_log.persisted? && game_log.images.attached? %>
            <% game_log.images.each do |image| %>
              <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
            <% end %>
          <% end %>
          <%= f.file_field :images, multiple: true, direct_upload: true,
            accept: "image/jpg, image/jpeg, image/png",
            class: "file-input file-input-bordered file-input-accent w-full max-w-xs" %>
        </div>
        
        <% if game_log.images.attached? %>
          <div class="flex justify-evenly my-4">
            <% game_log.images.each do |image| %>
              <div class="space-y-2">
                <%= image_tag image, class: "size-20", style: "object-fit: cover;" %>
                <%= link_to "削除", remove_image_game_log_path(game_log, image_id: image.id),
                  class: "btn btn-outline btn-error btn-sm",
                  data: { turbo_method: :delete } %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="actions my-8">
          <%= f.submit "記録",
            class: "bg-blue-950 text-blue-400 text-2xl border border-blue-400 border-b-4 font-medium relative w-40 px-4 py-2 rounded-md hover:brightness-150" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
