<head>
  <title><% content_for(:title, "ゲームログ一覧") %></title>
</head>
<h1 class="text-yellow-400 text-4xl text-center my-6">【みんなのゲームログ】</h1>

<div class="flex justify-center space-x-2">
  <%= search_form_for @q, url: game_logs_path |f| %>
    <%= f.search_field :user_game_game_game_title_cont, class: "input input-bordered input-accent w-full max-w-xs", placeholder: "ゲームタイトル" %>
    <%= f.search_field :title_or_body_cont, class: "input input-bordered input-accent w-full max-w-xs", placeholder: "キーワード" %>
    <%= f.submit "検索", class: "btn btn-accent" %>
  <% end %>
</div>

<% if @game_logs.present? %>
  <%= render @game_logs %>
  <div class="flex justify-center my-8">
    <div class="join">
      <%= paginate @game_logs %>
    </div>
  </div>
<% else %>
  <p class="text-white txt-2xl text-center mt-12">ゲームログの投稿はありません</p>
<% end %>