<div class="flex justify-center my-8">
  <div class="relative border-solid border-2 border-white rounded-lg inline-block bg-gray-950 sm:w-3/5 lg:w-2/5 px-2 py-4">
    <span class="text-white text-3xl absolute -top-3 left-2.5 py-2 inline-block"><%= @game_log.user.name %></span>
    <p class="text-white text-2xl"><%= @game_log.title %></P>
    <p class="text-white text-2xl"><%= @game_log.body %></P>
    <p class="text-white text-2xl">プレイ時間：<%= @game_log.play_time %>分</P>
    <p class="text-white text-2xl">課金額：<%= @game_log.spending_amount %>円</P>
    <% if current_user && current_user.own?(@game_log) %>
      <%= link_to "編集", "#",
        class: "bg-lime-950 text-2xl text-lime-400 border border-lime-400 border-b-4 font-medium relative h-16 px-4 py-2 rounded-md hover:brightness-150" %>
      <%= link_to "削除", game_log_path(@game_log),
        class: "bg-red-950 text-2xl text-red-400 border border-red-400 border-b-4 font-medium relative px-4 py-2 rounded-md hover:brightness-150",
        data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
    <% end %>
  </div>
</div>
<%= link_to "https://twitter.com/share?url=#{request.url}&text=本日のゲームログ：#{@game_log.title}%0a%23Gamefolio_m%0a",
  target: '_blank',
  class: "btn btn-outline inline-flex items-center space-x-2" do %>
  <i class="fa-brands fa-x-twitter inline-block hover:text-white"></i>シェア
<% end %>