<div id="sidebar" class="fixed top-0 left-0 z-40 w-96 h-screen p-4 overflow-y-auto transform -translate-x-full transition-transform duration-300 bg-indigo-900">
   <h5 class="text-2xl text-white uppercase">
      <i class="fa-solid fa-gamepad" style="color: #ffffff;"></i> メニュー</h5>
   <button id="close-sidebar" class="btn btn-outline btn-primary btn-sm m-2 absolute top-2.5 end-2.5" >
      <i class="fa-solid fa-x fa-x" style="color: #ffffff;"></i>
   </button>
   <div class="py-4 overflow-y-auto">
     <ul class="space-y-2">
        <li>
          <%= link_to "トップへ戻る", root_path, class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-primary hover:no-underline group sidebar-link" %>
        </li>
        <li>
          <%= link_to "みんなのゲームログ", game_logs_path, class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-primary hover:no-underline group sidebar-link" %>
        </li>
        <li>
          <%= link_to "ユーザー一覧", users_path, class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-primary hover:no-underline group sidebar-link" %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to "ゲーム登録", search_games_path, class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-primary hover:no-underline group sidebar-link" %>
          </li>
          <li>
            <%= link_to "ゲームライブラリ", user_games_path(id: current_user.id), class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-primary hover:no-underline group sidebar-link" %>
          </li>
          <li>
            <%= link_to "ゲームログ作成", new_game_log_path, class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-primary hover:no-underline group sidebar-link" %>
          </li>
        <% end %>
     </ul>
     <ul class="space-y-2 pt-2 font-medium border-t border-gray-200 mt-2">
       <li>
         <%= link_to "プライバシーポリシー", "#", class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-primary hover:no-underline group sidebar-link" %>
       </li>
       <li>
         <%= link_to "問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSdWaG0JGOGRXFSFVSuPIRSUcnTmFJ71VoTRH8ItHOS8czSiXA/viewform?usp=sf_link",
           class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-primary hover:no-underline group sidebar-link", target: "_blank" %>
       </li>
       <li>
         <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "ms-3 flex items-center p-2 rounded-lg text-white hover:bg-primary hover:no-underline group sidebar-link" %>
       </li>
     </ul>
   </div>
</div>
