<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag("gf_favicon.ico") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

    <style>
      html, body, pre, code, kbd, samp {
          font-family: "DotGothic16";
      }
    </style>
  </head>

  <body class="bg-zinc-950">
    <header class="bg-sky-400 flex items-center justify-between">
      <div class="my-4 ml-6">
        <button class="nes-btn is-primary nes-pointer" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
          <%= image_tag 'gf_logo.png', class: "w-10 h-10" %>
        </button>
        </div>
      <div class="mr-4">
        <%= link_to "ログイン", "#", class: "nes-btn" %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
