<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="google-site-verification" content="zRwhXlVkf7pyvKPPvyqXxJjJBpxnq3_CPp_CPJ_g5Pw" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= favicon_link_tag("gf_favicon.ico") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <style>
      html, body, pre, code, kbd, samp {
          font-family: "DotGothic16";
      }
    </style>

    <script src="https://kit.fontawesome.com/ed5990692e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0DGEW84HD7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0DGEW84HD7');
    </script>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="bg-[url('bg_image.png')] bg-cover bg-fixed h-full">
  <div class="overflow-hidden">
    <div class="flex flex-col min-h-screen">
      <header class="bg-indigo-800 flex items-center justify-between h-24">
        <%= render "shared/header" %>
      </header>
      <main class="flex-grow">
          <% if flash[:notice] %>
            <p class="notice flex items-center justify-center text-white bg-lime-400 h-10"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:alert] %>
            <p class="alert flex items-center justify-center text-white bg-red-400 h-10"><%= flash[:alert] %></p>
          <% end %>
        <%= render "layouts/sidebar" %>
        <%= yield %>
      </main>
      <footer class="bg-zinc-500">
        <%= render "shared/footer" %>
      </footer>
    </div>
    </div>
  </body>
</html>
