<head>
  <title><% content_for(:title, "#{current_user.name}") %></title>
</head>
<div class="flex justify-center my-8">
  <div class="rounded-lg border-sloid border-white border-4 bg-gray-950 w-full sm:w-3/5 lg:w-2/5">
    <div class="items-center text-center">
      <h2 class="text-white text-6xl mt-6">ユーザー編集 <%= current_user.name %></h2>

      <%= form_with model: @user, url: registration_path(resource_name), html: { method: :put } do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

        <div class="field mt-6">
          <div class="mb-4">
            <%= f.label :name, class: "text-white text-2xl" %>
          </div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name",
            class: "input input-bordered input-accent h-12 w-80 min-w-xs" %>
        </div>

        <div class="field mt-6">
          <div class="mb-4">
            <%= f.label :email, class: "text-white text-2xl" %>
          </div>
          <%= f.email_field :email, autocomplete: "email",
            class: "input input-bordered input-accent h-12 w-80 min-w-xs" %>
        </div>

        <div class="mt-6">
          <div class="mb-4">
            <%= f.label :gender, class: "text-white text-2xl" %>
          </div>
            <%= f.select :gender, User.genders.keys.map { |gender| [gender.titleize, gender] }, { class: "select select-accent" } %>
        </div>
        
        <div class="field mt-6">
          <div class="mb-4">
            <%= f.label :age, class: "text-white text-2xl" %>
          </div>
          <%= f.number_field :age, min: 1, class: "textarea textarea-accent min-w-xs" %>
        </div>

        <div class="field mt-6">
          <div class="mb-4">
            <%= f.label :profile, class: "text-white text-2xl" %>
          </div>
          <%= f.text_area :profile, class: "textarea textarea-accent w-2/3 h-24 min-w-xs" %>
        </div>

        <div class="actions my-8">
          <%= f.submit "更新",
            class: "bg-blue-950 text-blue-400 text-2xl border border-blue-400 border-b-4 font-medium relative w-40 px-4 py-2 rounded-md hover:brightness-150" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
<%= link_to "戻る", :back, 
  class: "bg-lime-950 text-lime-400 text-2xl border border-lime-400 border-b-4 font-medium relative w-40 px-4 py-2 rounded-md hover:brightness-150" %>
</div>
