<head>
  <title><% content_for(:title, "#{current_user.name}") %></title>
</head>
<h2 class="text-lime-400 text-2xl text-center my-6">【ユーザー編集 <%= current_user.name %>】</h2>
<div class="flex justify-center my-4">
  <div class="rounded-lg border-sloid border-white border-4 bg-gray-950 w-full lg:w-2/5">
    <div class="items-center text-center">

      <%= form_with model: @user, url: registration_path(resource_name), html: { method: :put } do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

        <div class="field mt-6">
          <div class="mb-2">
            <%= f.label :name, class: "text-white" %>
          </div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name",
            class: "input input-bordered input-accent h-12 w-80 min-w-xs" %>
        </div>

        <div class="field mt-6">
          <div class="mb-2">
            <%= f.label :email, class: "text-white" %>
          </div>
          <%= f.email_field :email, autocomplete: "email",
            class: "input input-bordered input-accent h-12 w-80 min-w-xs" %>
        </div>

        <div class="field mt-6">
          <div class="mb-2">
            <%= f.label :gender, class: "text-white" %>
          </div>
          <%= f.select :gender, User.genders_i18n.invert, {}, class: "select select-accent" %>
        </div>

        <div class="field mt-6">
          <div class="mb-2">
            <%= f.label :age, class: "text-white" %>
          </div>
          <%= f.number_field :age, min: 1, class: "input input-accent min-w-xs" %>
        </div>

        <div class="field mt-6">
          <div class="mb-2">
            <%= f.label :profile, class: "text-white" %>
          </div>
          <%= f.text_area :profile, class: "textarea textarea-accent w-2/3 h-32 min-w-xs", placeholder: "300文字以内" %>
        </div>

        <div class="flex justify-center space-x-4 mt-6">
          <% if @user.user_icon.persisted? %>
            <% if @user.user_icon.attached? %>
              <div class="flex justify-center">
                <%= image_tag @user.user_icon, size: "100x100", class: "rounded-lg border-sloid border-white border-2", style: "object-fit: cover;" %>
              </div>
            <% end %>
          <% end %>

          <div class="field">
            <div class="mb-2">
              <%= f.label :user_icon, class: "text-white" %>
            </div>
            <%= f.file_field :user_icon, direct_upload: true,
              accept: "image/jpg, image/jpeg, image/png",
              class: "file-input file-input-bordered file-input-accent w-full max-w-xs" %>
          </div>
        </div>

        <div class="my-6">
          <div class="mb-2">
            <%= f.label :profile_title, "称号設定", class: "text-white" %>
            <p class="text-gray-400 text-sm">※称号の獲得は称号一覧からできます</p>
          </div>
          <%= f.collection_select :profile_title, @user_titles, :id, :title, { include_blank: true }, class: "select select-accent w-80" %>
        </div>

        <div class="divider divider-primary text-white m-12">SNSアカウント</div>

        <div class="field mt-6">
          <div class="mb-2">
            <%= f.label :twitter, class: "text-white" %>
          </div>
          <%= f.text_field :twitter, placeholder: "URL", class: "input input-bordered input-accent h-12 w-80 min-w-xs" %>
        </div>

        <div class="field mt-6">
          <div class="mb-2">
            <%= f.label :twitch, class: "text-white" %>
          </div>
          <%= f.text_field :twitch, placeholder: "URL", class: "input input-bordered input-accent h-12 w-80 min-w-xs" %>
        </div>

        <div class="field mt-6">
          <div class="mb-2">
            <%= f.label :discord, class: "text-white" %>
          </div>
          <%= f.text_field :discord, placeholder: "ID", class: "input input-bordered input-accent h-12 w-80 min-w-xs" %>
        </div>

        <div class="actions my-8">
          <%= f.submit "更新",
            class: "bg-blue-950 text-blue-400 text-2xl border border-blue-400 border-b-4 font-medium relative w-40 px-4 py-2 rounded-md hover:brightness-150" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center my-6">
  <%= link_to user_path(id: current_user.id) do %> 
    <button class="bg-lime-950 text-lime-400 text-2xl border border-lime-400 border-b-4 font-medium relative w-40 px-4 py-2 rounded-md hover:brightness-150">
      戻る</button>
  <% end %>
</div>
